body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.banners-container {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  background-color: #000;
}
.banners-container:hover .banner {
  opacity: 0.3;
}
.banners-container .banner {
  display: table-cell;
  height: 100%;
  width: 25%;
  background-size: cover;
  position: relative;
  background-position: center center;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.banners-container .banner:hover {
  width: 50%;
  opacity: 1;
}
.banners-container .banner .banner-copy {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: #FFF;
}
