
.banner {
  background-size: cover;
  background-position: center;
  padding: 270px 0;
  width: 40%;
  height: 690px;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.photo-profile {
    position: absolute;
    width: 35%;
    top: 15%;
    right: 50%;
    box-shadow: blanchedalmond;
    border-radius: 0%;
}

.info {
  position: absolute;
  width: 35%;
  top: 90%;
}

.name-title {
  position: relative;
  left: 160%;
  top: -100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.job-title {
    position: relative;
  left: 160%;
    top: -100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h6 {
    position: relative;
  left: 160%;
    top: -100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// .line {
//   font-family: "Open Sans";
//   text-align: center;
//   position: relative;
//   width: fit-content;
//   margin: 0 auto;
//   position: relative;
//   // left: 160%;
//   // top: -100px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// }

// .line:before {
//   content: "";
//   height: 2px;
//   width: 176px;
//   background: black;
//   position: absolute;
//   left: -10px;
//   top: 50%;
//   transform: rotate(-90deg);
//   z-index: 1;
//   top: -610px;
// }

// .line-2 {
//   font-family: "Open Sans";
//   text-align: center;
//   position: relative;
//   width: fit-content;
//   margin: 0 auto;
//   position: relative;
//   // left: 160%;
//   // top: -100px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// }

// .line-2:before {
//   content: "";
//   height: 2px;
//   width: 281px;
//   background: black;
//   position: absolute;
//   left: 77px;
//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 1;
//   top: -697px;
// }

// .line-3 {
//   font-family: "Open Sans";
//   text-align: center;
//   position: relative;
//   width: fit-content;
//   margin: 0 auto;
//   position: relative;
//   // left: 160%;
//   // top: -100px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }

// .line-3:before {
//     content: "";
//     height: 2px;
//     width: 57px;
//     background: #788677#000000;
//     position: absolute;
//     left: 421px;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 1;
//     top: -521px;
// }

// .line-4 {
//   font-family: "Open Sans";
//   text-align: center;
//   position: relative;
//   width: fit-content;
//   margin: 0 auto;
//   position: relative;
//   // left: 160%;
//   // top: -100px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
// }

// .line-4:before {
//   content: "";
//   height: 2px;
//   width: 57px;
//   background: black;
//   position: absolute;
//   left: 449px;
//   top: 50%;
//   transform: rotate(-90deg);
//   z-index: 1;
//   top: -550px;
// }

.about-title {
  position: absolute;
  bottom: -115px;
  left: 44%;
}

.about-banner {
  background-size: cover;
  background-position: center;
  padding: 270px 0;
  width: 100%;
  height: 170px;
}

.about-description {
  width: 85%;
  position: absolute;
  bottom: -49%;
  left: 10%;
}

.banner-portfolio {
  background-size: cover;
  background-position: right;
  height: 690px;
  right: 0px;
  position: absolute;
  width: 40%;
}

.FF-photo {
  width: 50%;
  position: absolute;
  left: 21px;
}
