html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  background-color: white;
  // background-image: url('https://images.unsplash.com/photo-1543741295-3c7654836bda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');

}

.presentation {
  background-image: url('https://images.unsplash.com/photo-1595815393077-018a6d4e0b59?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2583&q=80');

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 270px 0;
  width: 40%;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.photo-profile {
    position: absolute;
    width: 35%;
    top: 21%;
    right: 50%;
    box-shadow: blanchedalmond;
    border-radius: 2%;
}

.info {
  position: absolute;
  width: 35%;
  top: 90%;
}

h1 {
  position: relative;
  left: 160%;
  top: -100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    position: relative;
  left: 160%;
    top: -100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h6 {
    position: relative;
  left: 160%;
    top: -100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

