<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-center ">

  <div id="navbarSupportedContent">
    <div class="nav-center">
      <ul class="navbar-nav mr-auto text-right">
        <li class="nav-item active">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mes services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Me contacter</a>
        </li>
      </ul>
    </div>
  </div>
</div>

