<nav class="nav border-bottom">
    <div class="container">
        <div class="logo">
            <a style="color:black;" href="/">Accueil</a>
        </div>
        <div class="main_list" id="mainListDiv">
            <ul>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="#">Mon profil</a></li>
                <li><a href="#">Mes services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="media_button">
            <button class="main_media_button" id="mediaButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>

