<div class="banners-container">
  <article class="banner" style="background-image: url(img/bg-1.jpg);">
    <section class="banner-copy">
      <h1>Starry nights</h1>
      <h5>and wine with friends</h5>
    </section>
  </article>
  <article class="banner" style="background-image: url(img/bg-2.jpg);">
    <section class="banner-copy">
      <h1>Stunning vistas</h1>
      <h5>and great hikes</h5>
    </section>
  </article>
  <article class="banner" style="background-image: url(img/bg-3.jpg);">
    <section class="banner-copy">
      <h1>Stormy horizons</h1>
      <h5>and rainy nights</h5>
    </section>
  </article>
  <article class="banner" style="background-image: url(img/bg-4.jpg);">
    <section class="banner-copy">
      <h1>Beautiful sunrises</h1>
      <h5>and special breakfasts</h5>
    </section>
   </article>
</div>
<h1>coucou</h1>
