
<div class="banner" style="background-color: #9bab9a;">
  <%= image_tag ("profile"), class:"photo-profile" %>
  <div class=" pr-5">
    <h1 class="mt-5 name-title">Sébastien BRUNO</h1>
    <h2 class="mt-3 pr-5 job-title"> <mark class="bg-transparent"style="color: #cb997e;">Full stack</mark> web developer</h2>
    <em class="mt-3 pr-5"><h6 class="pr-5 my-3">I'm Sébastien BRUNO, web developer with a few projects done</h6></em>
  </div>
</div>
<div class="about-banner" style="background-color: #ede4d9;">
  <h1 class="about-title">About me</h1>

    <p class="about-description text-center">9-week full-time/24-week part-time$ intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6,
SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped to
production a clone of AirBnB and a Rails prototype of http://www.followerfund.me.
My GitHub profile: sebastienbruno122</p>

</div>
<div class="banner-portfolio" style="background-color: #9bab9a;">
  <div class=" pr-5">
    <h1 class="text-center pt-5 text-light">My work</h1>
    <h3 class="text-center text-light" href="http://www.followerfund.me/" >follower-fund.me</h3>
    <p class="text-center text-light">A platform where users can Finance youtubers, and share profits when they're successful!</p>

  </div>
</div>

<div class="card-product mt-5 pl-5 text-center">
  <img src="/assets/FF-photo.png" class="FF-photo" href="http://www.followerfund.me/"/>
</div>
<div class="card-product-infos">
  </div>
</div>
  <h1 class="line"></h1>
  <h1 class="line-2"></h1>
  <h1 class="line-3"></h1>
  <h1 class="line-4"></h1>


