<div class="container">
  <h2 >My portfolio</h2>
</div>

<div class="card-product mt-5 pl-5 text-center">
  <img src="/assets/FF-photo.png" class="w-50" href="http://www.followerfund.me/"/>
</div>
<div class="card-product-infos">
    <h3 class="text-center" href="http://www.followerfund.me/" >follower-fund.me</h3>
    <p class="text-center">A platform where users can Finance youtubers, and share profits when they're successful!</p>
  </div>
</div>

